{% extends "base.html" %}
{% block title %}Inicio - MeliShop{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="hero">
    <img src="{% static 'logo_de_meli_shop.png' %}" alt="Meli Shop Logo">
    <h1>Meli Shop</h1>
    <p>Tu tienda de ropa favorita 💖 Estilo, elegancia y mucha actitud ✨</p>
</div>

<div class="destacados">
    <h2>✨ Productos Destacados ✨</h2>

    <div class="productos-grid">
        {% for producto in productos|slice:":3" %}
            <div class="producto-card">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                <h3>{{ producto.nombre }}</h3>
                <p>${{ producto.precio }}</p>
            </div>
        {% empty %}
            <p>No hay productos aún.</p>
        {% endfor %}
    </div>

    <a href="{% url 'index' %}" class="boton-productos">Ver todos los productos</a>
</div>

{% endblock %}